<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Latvijas Skolnieku Digitālā Mācību Platforma</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="heading" id="home-heading">
        <p>Sveicināti Latvijas Skolnieku Digitālā Mācību Platformā!</p>
    </div>
    <div class="buttons" id="home-buttons">
        <a href="/register"><button>Reģistrēties</button></a>
        <a href="/login"><button>Pieslēgties</button></a>
    </div>
</body>
</html>
