<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="utf-8">
    <title>Latvijas Skolnieku Digitālā Mācību Platforma</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div id="learningDashboard" class="learningdash">
        <h1>Mācīšanās vadības panelis</h1>
        <div id="buttonContainer" class="buttons">
            <button id="examsButton" onclick="window.location.href = '/exams'">Eksāmeni</button>
            <button id="resourcesButton" onclick="window.location.href = '/resources'">Macību Resursi</button>
        </div>
        <button id="goBackButton" onclick="window.location.href='/dashboard'">Atpakaļ</button>
    </div>
</body>
</html>
