<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Latvijas Skolnieku Digitālā Mācību Platforma</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <h1 id="weekly-plans-heading">2024. Gada Nedēļas Plāni</h1>
    <table border="1" id="weekly-plans-table">
        <tr>
            <td><a onclick="window.location.href='/week_one'">1. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_two'">2. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_three'">3. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_four'">4. nedēļa</a></td>
        </tr>
        <tr>
            <td><a onclick="window.location.href='/week_five'">5. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_six'">6. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_seven'">7. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_eight'">8. nedēļa</a></td>
        </tr>
        <tr>
            <td><a onclick="window.location.href='/week_nine'">9. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_ten'">10. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_eleven'">11. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_twelve'">12. nedēļa</a></td>
        </tr>
        <tr>
            <td><a onclick="window.location.href='/week_thirteen'">13. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_fourteen'">14. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_fifteen'">15. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_sixteen'">16. nedēļa</a></td>
        </tr>
        <tr>
            <td><a onclick="window.location.href='/week_seventeen'">17. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_eighteen'">18. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_nineteen'">19. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_twenty'">20. nedēļa</a></td>
        </tr>
        <tr>
            <td><a onclick="window.location.href='/week_twenty_one'">21. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_twenty_two'">22. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_twenty_three'">23. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_twenty_four'">24. nedēļa</a></td>
        </tr>
        <tr>
            <td><a onclick="window.location.href='/week_twenty_five'">25. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_twenty_six'">26. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_twenty_seven'">27. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_twenty_eight'">28. nedēļa</a></td>
        </tr>
        <tr>
            <td><a onclick="window.location.href='/week_twenty_nine'">29. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_thirty'">30. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_thirty_one'">31. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_thirty_two'">32. nedēļa</a></td>
        </tr>
        <tr>
            <td><a onclick="window.location.href='/week_thirty_three'">33. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_thirty_four'">34. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_thirty_five'">35. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_thirty_six'">36. nedēļa</a></td>
        </tr>
        <tr>
            <td><a onclick="window.location.href='/week_thirty_seven'">37. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_thirty_eight'">38. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_thirty_nine'">39. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_forty'">40. nedēļa</a></td>
        </tr>
        <tr>
            <td><a onclick="window.location.href='/week_forty_one'">41. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_forty_two'">42. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_forty_three'">43. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_forty_four'">44. nedēļa</a></td>
        </tr>
        <tr>
            <td><a onclick="window.location.href='/week_forty_five'">45. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_forty_six'">46. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_forty_seven'">47. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_forty_eight'">48. nedēļa</a></td>
        </tr>
        <tr>
            <td><a onclick="window.location.href='/week_forty_nine'">49. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_fifty'">50. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_fifty_one'">51. nedēļa</a></td>
            <td><a onclick="window.location.href='/week_fifty_two'">52. nedēļa</a></td>
        </tr>
    </table>
    <div class="centered-button">
        <button onclick="window.history.back()">Atpakaļ</button>
    </div>
</body>
</html>

