<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latvijas Skolnieku Digitālā Mācību Platforma</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="submitted">
        <h1>Uzdevums ir veiksmīgi iesniegts!</h1>
        <p>Jūs veiksmīgi esat iesniedzis savu uzdevumu.</p>
        <button onclick="window.location.href='/exams'" id="go-back-button">Atpakaļ</button>
    </div>
</body>
</html>
