<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latvijas Skolnieku Digitālā Mācību Platforma</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 id="taskTitle">Projekta darbs</h1>
        
        <div class="task-section">
            <h2 id="taskDescription">Projekta darbs</h2>
            <p>Jāpievieno iepriekš izstrādātā projekta darba apraksts, portfolio un prezentācija.</p>
        </div>
        
        <div class="task-section">
            <h2 id="taskListTitle">Uzdevumi</h2>
            <ol>
                <li>
                    <strong>1. uzdevums</strong><br>
                    <span id="task1Description">Projekta darba apraksts</span><br>
                    <em>70 punkti</em>
                </li>
                <li>
                    <strong>2. uzdevums</strong><br>
                    <span id="task2Description">Portfolio</span><br>
                    <em>15 punkti</em>
                </li>
                <li>
                    <strong>3. uzdevums</strong><br>
                    <span id="task3Description">Prezentācija</span><br>
                    <em>15 punkti</em>
                </li>
            </ol>
        </div>
        
        <div class="task-section">
            <h2 id="fileUploadTitle">Augšupielādēt failus</h2>
            <form action="/submitted1" method="post" enctype="multipart/form-data">
                <label for="file" class="custom-file-upload">Izvēlieties failu</label>
                <input type="file" name="file" id="file">
                <br>
                <input type="submit" value="Iesniegt">
            </form>
        </div>
        <button id="BackButton" onclick="window.location.href='/exams'">Atpakaļ</button>
    </div>
</body>
</html>
